<a href="https://colab.research.google.com/github/prashantRmishra/Tensorflow_learnings/blob/master/mammogram_keras_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving mammographic_masses.data.txt to mammographic_masses.data.txt
Saving mammographic_masses.names.txt to mammographic_masses.names.txt

In [4]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "mammographic_masses.data.txt" with length 13450 bytes
User uploaded file "mammographic_masses.names.txt" with length 3405 bytes

In [0]:
feature_name=['B_RADS','AGE','SHAPE','MARGIN','DENSITY','SEVERITY']

In [0]:
feature_samples=pd.read_csv('mammographic_masses.data.txt',na_values=['?'],names=feature_name)

In [22]:
feature_samples.head()

   B_RADS   AGE  SHAPE  MARGIN  DENSITY  SEVERITY
0     5.0  67.0    3.0     5.0      3.0         1
1     4.0  43.0    1.0     1.0      NaN         1
2     5.0  58.0    4.0     5.0      3.0         1
3     4.0  28.0    1.0     1.0      3.0         0
4     5.0  74.0    1.0     5.0      NaN         1

In [23]:
feature_samples.describe()

           B_RADS         AGE       SHAPE      MARGIN     DENSITY    SEVERITY
count  959.000000  956.000000  930.000000  913.000000  885.000000  961.000000
mean     4.348279   55.487448    2.721505    2.796276    2.910734    0.463059
std      1.783031   14.480131    1.242792    1.566546    0.380444    0.498893
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   45.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

In [24]:
feature_samples.dropna(inplace=True)
feature_samples.head()

    B_RADS   AGE  SHAPE  MARGIN  DENSITY  SEVERITY
0      5.0  67.0    3.0     5.0      3.0         1
2      5.0  58.0    4.0     5.0      3.0         1
3      4.0  28.0    1.0     1.0      3.0         0
8      5.0  57.0    1.0     5.0      3.0         1
10     5.0  76.0    1.0     4.0      3.0         1

In [0]:
all_features_temp = feature_samples[feature_name].drop('SEVERITY', axis=1)

In [0]:
feature_name_now=['B_RADS','AGE','SHAPE','MARGIN','DENSITY']

In [0]:
all_features=all_features_temp[feature_name_now].drop('B_RADS',axis=1).values

In [0]:
all_labels=feature_samples['SEVERITY'].values

In [32]:
from keras.layers import Dense,Dropout
from keras.models import Sequential
from sklearn.model_selection import cross_val_score

Using TensorFlow backend.

In [0]:
def create_model():
  model = Sequential()
  model.add(Dense(16,input_dim=4,kernel_initializer='normal',activation='relu'))

  model.add(Dense(8,kernel_initializer='normal',activation='relu'))

  model.add(Dense(1,kernel_initializer='normal',activation='sigmoid'))
  model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
  return model

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier

In [57]:
estimator=KerasClassifier(build_fn=create_model,nb_epoch=100,verbose=2)
cv_score=cross_val_score(estimator,all_features,all_labels,cv=10)
cv_score.mean()

Epoch 1/1
 - 2s - loss: 0.6915 - acc: 0.4806
Epoch 1/1
 - 2s - loss: 0.6941 - acc: 0.4980
Epoch 1/1
 - 2s - loss: 0.6937 - acc: 0.5167
Epoch 1/1
 - 2s - loss: 0.6923 - acc: 0.4739
Epoch 1/1
 - 3s - loss: 0.6936 - acc: 0.5435
Epoch 1/1
 - 3s - loss: 0.6934 - acc: 0.4806
Epoch 1/1
 - 3s - loss: 0.6930 - acc: 0.5341
Epoch 1/1
 - 3s - loss: 0.6932 - acc: 0.5422
Epoch 1/1
 - 3s - loss: 0.6914 - acc: 0.4846
Epoch 1/1
 - 3s - loss: 0.6895 - acc: 0.4859

0.522891566839563